* {
  box-sizing: border-box;
}

.myBodyContainer {
  display: flex;
  height: 100vh;
  background-color: rgba(255, 0, 0, 0.12);
}

.mySidebarContainer {
  background-color: rgba(255, 255, 255, 0.5);
}

.myBlogBodyContainer {
  overflow: auto;
  background-color: rgb(255, 219, 219);
}

@media screen and (max-width: 450px) {
  .myBodyContainer {
    flex-direction: column;
  }
}
