<!-- The highest layer -->
<!DOCTYPE html>
<html lang="<%= config.language %>">
  <%- partial("_partial/head") %>
  <body>
    <div class="myBodyContainer">
      <section class="mySidebarContainer col-md-3 p-0">
        <!--Sidebar content-->
        <%- partial('_partial/sidebar') %>
      </section>
      <section class="myBlogBodyContainer col-md-9 px-5 pt-5">
        <%- body %>
      </section>
    </div>
  </body>
</html>
