<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width initial-scale=1.0" />
  <!-- Use <%= page.title %> for dynamic title -->
  <title><%= config.title %></title>

  <!-- Twitter bootstrap (via cdn) -->
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
  />

  <%- css('css/app.css') %>
</head>
