<div class="text-center p-5">
  <img src="/images/avatar.png" alt="avatar" class="Avatar" />
</div>
<section>
  <%- partial('_partial/menu') %>
</section>
<footer>
  <!-- Footer -->
  <%- partial('_partial/footer') %>
</footer>
